# Postgres database connection info
# Set `POSTGRES_HOST` to `postgres` when using Docker
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DBNAME=
POSTGRES_SSLMODE=disable
POSTGRES_VOLUME=

# SMTP connection info
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=

# Server configs
# Leave `SERVER_ADDRESS` empty if using Docker
SERVER_ADDRESS=localhost
SERVER_PORT=3000

# App configs
APP_URL=http://localhost:3000
APP_IMAGES_DIR=app/images
APP_IMAGES_EXT=.png,.jpg,.jpeg,.gif
APP_IMAGES_TYPE=image/png,image/jpeg,image/gif
