# Postgres database connection info
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DBNAME=
POSTGRES_SSLMODE=disable

# SMTP connection info
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=

# Server configs
SERVER_ADDRESS=localhost
SERVER_PORT=3000

# App configs
APP_URL=http://localhost:3000
APP_IMAGES_DIR=images
APP_IMAGES_EXT=.png,.jpg,.jpeg,.gif
APP_IMAGES_TYPE=image/png,image/jpeg,image/gif
