{{ template "header" . }}

<div class="page flex flex-col items-center">
  <div class="w-2/3 px-8 py-8 bg-white rounded shadow">
    <h1 class="pt-4 pb-8 text-center text-3xl font-bold text-gray-900">Edit your gallery</h1>

    <form id="editGallery" action="/galleries/{{.ID}}/edit" method="POST">
      <div class="py-2">
        <label for="title" class="text-sm font-semibold text-gray-800">Gallery Title</label>
        <input id="title" name="title" type="text" placeholder="Gallery Title" required class="w-full px-3 py-2 border border-gray-300 placeholder-gray-500" value="{{ .Title }}" autofocus />
      </div>

      <div class="py-2 flex items-center">
        <input id="published" name="published" type="checkbox" class="w-5 h-5 mr-2 cursor-pointer checked:accent-indigo-600 hover:accent-indigo-700" {{ if .Published }}checked{{ end }} />
        <label for="published" class="text-sm font-semibold text-gray-800 cursor-pointer">Published</label>
      </div>

      <div class="py-2">
        <button type="submit" class="w-full py-4 px-2 bg-indigo-600 hover:bg-indigo-700 disabled:bg-indigo-500 disabled:cursor-not-allowed text-white rounded font-bold text-lg">Update</button>
      </div>
    </form>

    {{ if .Images}}
      <div class="pt-8 pb-2">
        <h2 class="font-bold text-xl text-gray-900">Current Images</h2>
        <div class="grid grid-cols-4 gap-y-8 gap-x-4">
          {{ $counter := 1 }}
          {{ with . }}
            {{ range $index, $value := .Images }}
              <div class="w-full relative">
                <div class="absolute top-2 right-2">
                  {{ template "delete_image_form" $value }}
                </div>
                <img src="/galleries/{{ $value.GalleryID }}/images/{{ $value.FilenameEscaped }}" alt="{{ $.Title | title }} Image {{ $counter }}" class="w-full">
              </div>
              {{ $counter = add $counter 1 }}
            {{ end }}
          {{ end }}
        </div>
      </div>
    {{ end }}

    <div class="pt-12">
      <h2 class="font-bold text-xl text-gray-900">Dangerous Actions</h2>

      <form id="deleteGallery" action="/galleries/{{.ID}}/delete" method="POST" onsubmit="confirmDelete(event, 'gallery')">
        <div class="py-2">
          <button type="submit" class="py-2 px-8 bg-red-600 hover:bg-red-700 disabled:bg-red-500 disabled:cursor-not-allowed text-white rounded font-bold text-sm">Delete Gallery</button>
        </div>
      </form>
    </div>
  </div>
</div>

{{ template "footer" . }}

{{ define "delete_image_form" }}
  <form action="/galleries/{{ .GalleryID }}/images/{{ .FilenameEscaped }}/delete" method="POST" onsubmit="confirmDelete(event, 'image')">
    <button type="submit" class="py-1 px-2 bg-red-100 hover:bg-red-200 rounded border border-red-600 text-xs text-red-600">Delete</button>
  </form>
{{ end }}

<script>
  // Disable update and delete buttons if error (a gallery not found or user does not have permission error results in the template being executed with ID = 0)
  const editGalleryForm = document.getElementById('editGallery');
  const deleteGalleryForm = document.getElementById('deleteGallery');

  if (editGalleryForm.action.includes('/galleries/0/edit')) {
    editGalleryForm.querySelector('button[type=submit]').setAttribute('disabled', true);
  }
  if (deleteGalleryForm.action.includes('/galleries/0/delete')) {
    deleteGalleryForm.querySelector('button[type=submit]').setAttribute('disabled', true);
  }
</script>
