{{ template "header" . }}

<div class="page flex flex-col items-center">
  <div class="w-1/3 px-8 py-8 bg-white rounded shadow">
    <h1 class="pt-4 pb-8 text-center text-3xl font-bold text-gray-900">Edit your gallery</h1>

    <form id="editGallery" action="/galleries/{{.ID}}/edit" method="POST">
      <div class="hidden">
        {{ csrfField }}
      </div>
      
      <div class="py-2">
        <label for="title" class="text-sm font-semibold text-gray-800">Gallery Title</label>
        <input id="title" name="title" type="text" placeholder="Gallery Title" required class="w-full px-3 py-2 border border-gray-300 placeholder-gray-500" value="{{ .Title }}" autofocus />
      </div>

      <div class="py-2">
        <button type="submit" class="w-full py-4 px-2 bg-indigo-600 hover:bg-indigo-700 disabled:bg-indigo-500 disabled:cursor-not-allowed text-white rounded font-bold text-lg">Update</button>
      </div>
    </form>

    <div class="pt-8">
      <h2 class="font-bold text-gray-900">Dangerous actions</h2>

      <form id="deleteGallery" action="/galleries/{{.ID}}/delete" method="POST" onsubmit="confirmDelete(event, 'gallery')">
        <div class="hidden">
          {{ csrfField }}
        </div>

        <div class="py-2">
          <button type="submit" class="py-2 px-8 bg-red-600 hover:bg-red-700 disabled:bg-red-500 disabled:cursor-not-allowed text-white rounded font-bold text-sm">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>

{{ template "footer" . }}

<script>
  // Disable update and delete buttons if error (a gallery not found or user does not have permission error results in the template being executed with ID = 0)
  const editGalleryForm = document.getElementById('editGallery');
  const deleteGalleryForm = document.getElementById('deleteGallery');

  if (editGalleryForm.action.includes('/galleries/0/edit')) {
    editGalleryForm.querySelector('button[type=submit]').setAttribute('disabled', true);
  }
  if (deleteGalleryForm.action.includes('/galleries/0/delete')) {
    deleteGalleryForm.querySelector('button[type=submit]').setAttribute('disabled', true);
  }
</script>
