{{ template "header" . }}

<div class="page flex flex-col items-center">
  <div class="w-1/3 px-8 py-8 bg-white rounded shadow">
    <h1 class="pt-4 pb-8 text-center text-3xl font-bold text-gray-900">Check your email</h1>

    <p class="text-sm text-gray-600 pb-4">An email has been sent to the email address <b>{{ .Email }}</b> with instructions to reset your password.</p>
  </div>
</div>

{{ template "footer" . }}
