{{ template "header" . }}

<div class="page">
  <h1 class="py-8 text-4xl semibold tracking-tight">Contact Page</h1>

  <p class="pb-2 text-gray-800">
    To get in touch, email me at <a class="underline" href="mailto:miller.robert.john@gmail.com">miller.robert.john@gmail.com</a>.
  </p>
</div>

{{ template "footer" . }}
